html { height: 100%; overflow: auto;}
body { min-height: 100%; }  

body {
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
    color:  white;
}

.footer-a img {
    height: 80%;
}

.mid-content-a img {
    height: 100%;
}

h1 {
    font-family: 'Philosopher', sans-serif;
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 1.5rem;
}

.fc-violet {
    color: #c08cd0;
    text-shadow: 0px 0px 14px #c4c4c4;;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 0.9rem;
}

.fz-medium {
    font-family: 'Philosopher', sans-serif;
    color: rgb(203, 203, 203);
    font-size: 1.5rem;
    text-transform: uppercase;
}

button {
    font-family: 'Raleway', sans-serif;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: none;
    color: white;
    background-color: #9e6da266;
    border-radius: 50px;
    box-shadow: 2px 2px 1px 1px #c486e580;
}

button:hover {
    background-color: #b57abb66;
}

/* Layer-A Content */

.tarot-container-a {
    display: grid;
    background-image: url("./images/space-background.jpg");
    filter: hue-rotate(117deg);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-items: center;
    min-height: 100vh;
    max-height: -webkit-fill-available;
}

.top-content-a {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1rem;
    height: 35vh;
}

.mid-content-a {
    text-align: center;
    height: 35vh;
}

.bottom-content-a {
    align-items: center;
    display: flex;
    text-align: center;
    height: 20vh;
}

.footer-a {
    place-content: center;
    display: flex;
    align-items: center;
    height: 10vh;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #9966a9;
}

/*----------------*/

/* Main Menu Content */

.main-menu-section {
    display: grid;
    background-image: url("./images/space-background.jpg");
    filter: hue-rotate(117deg);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-items: center;
    height: 100vh;
}

.spacing-container {
    height: 1vh;
}

.main-menu-container {
    place-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 4rem;
    height: 22vh;
}

/*----------------*/

/* Layer-Daily Content */

.tarot-container-daily {
    display: grid;
    background-image: url("./images/space-background.jpg");
    filter: hue-rotate(117deg);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-items: center;
    height: 100vh;
}

.top-content-daily {
    place-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 4rem;
    height: 22vh;
}

.mid-content-1-daily {
    place-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 4rem;
    height: 22vh;
}

.mid-content-2-daily {
    place-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 15%;
    height: 22vh;
}

.bottom-content-daily {
    place-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 4rem;
    height: 24vh;
}

/*----------------*/

/* Layer-Daily-Result Content */

.tarot-container-daily-result {
    display: grid;
    background-image: url("./images/space-background.jpg");
    filter: hue-rotate(117deg);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-items: center;
    height: 100vh;
}

.top-content-daily-result {
    place-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 4rem;
    height: 45vh;
}

.mid-content-daily-result {
    place-content: center;
    align-items: center;
    text-align: center;
    gap: 15%;
    height: 31vh;
}

.bottom-content-daily-result {
    place-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 4rem;
    height: 14vh;
}

/*----------------*/

.l-spacing {margin-top: 5%; margin-bottom: 5%;}
.m-spacing {margin-top: 3%; margin-bottom: 3%;}
.s-spacing {margin-top: 2%; margin-bottom: 2%;}

.tarot-card {
    height: 8vh;
    padding-left: 1rem;
}

.main-menu-container h2 {
    padding-top: 5px;
    font-size: 1rem;
}

.displayHidden {
    display: none !important;
}

.first-card {
    margin-top: 4rem;
    z-index: 1;
}

.last-card {
    margin-top: -4rem;
}

.card-effect {
    height: 200px;
    filter: hue-rotate(263deg);
    background-image: url(./images/tarot-card-original.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.card-effect:hover {
    height: 200px;
    background-image: url(./images/tarot-card-original-hover.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
    margin-bottom: 2rem;
}

.tarot-container-daily h1 {
    font-size: 3rem;
}
.card-hidden {
    height: 200px;
    visibility: hidden;
}

.daily-card-result {
    background-image: url('./images/tarot-card-original.png');
    width: 100%;
    height: 45vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.daily-card-result,
.daily-card-result2  {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    height: inherit;
}

.daily-card-result img,
.daily-card-result2 img {
    filter: contrast(1.2) hue-rotate(259deg);
    height: -webkit-fill-available;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}

.daily-card-result2 {
    transform: rotateY(180deg);
}

.daily-text-content p {
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.1;
}

.daily-text-content {
    margin-inline: 14px;
}

.mid-content-daily-result {
    overflow: auto;
    overflow-y: initial;
    /*border: #6a357b solid 1px;
    border-inline: 0;*/
    background-color: #2f143863;
}

.bottom-content-daily-result button {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    padding: 0.5rem 2rem;
}

.card-title {
    font-family: 'Philosopher', sans-serif;
    margin: 1rem 0rem;
    text-transform: uppercase;
    font-size: 2rem;
}

.game-row {
    background-color: #79757a2e;
    border-radius: 10px;
    padding: 1rem 1rem;
    width: 25vw;
    border: #f171e159 solid 1px;
}

.card__inner {
    width: 100%;
    height: 45vh;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__inner.is-flipped {
    transform: rotateY(180deg);
}

/* CARD FLIP ANIMATION */ /*

.card {
    height: 45vh;
}

.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__inner.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
}

.card__face--front {
    background-image: url('./images/tarot-card-original.png');
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__face--back {
    transform: rotateY(180deg);
}

*/